* {
	box-sizing: border-box;
}

:root {
	--back-black: #0C0F0A;
	--lighter-black: #262924;
	--main-pink: #FF206E;
	--darker-pink: #FF397F;
	--darkest-pink: #4E1425;
	--main-yellow: #FBFF12;
	--darker-yellow: #FBFF2C;
	--main-blue: #41EAD4;
	--darker-blue: #58EAD7;
} 

html {
	background: var(--back-black);
}
	
body {
    font-family: 'IBM Plex Sans';
    color: white;
    font-size: 18px;
    max-width: max-content;
	margin: auto;
    padding: 1em;
	line-height: 1.4;
}

h1 {
	text-align: center;
	color: var(--main-pink)
}

h3 {
	text-align: center;
	font-weight: normal;
}

li {
	font-size: 20px;
}

select {
	background-color: white;
	font-family: 'IBM Plex Sans';
	font-size: 20px;
	margin: 10px;
}

strong {
	color: var(--main-pink);
}



/* .swal-modal {
	background-color: var(--back-black);
	border: 3px solid var(--main-pink);
}

.swal-title, .swal-text {
	color: white;
}

.swal-icon--success:after, .swal-icon--success:before {
	background-color: var(--back-black);
}

.swal-icon--success__hide-corners {
	background-color: var(--back-black);
	padding: 0px;
	width: 6px;
} */

.answers {
    margin-right: 10px;
}

.link {
	color: var(--main-pink);
}

.link:visited {
	color: var(--darker-pink);
}

.wrapper {
    min-height: 100%;
	margin-bottom: -50px;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}
.footer, .push {
	text-align: center;
	height: 50px;
	font-size: 16px;
}

.button {
	background-color: var(--main-pink);
	border-radius: 28px;
	border: 1px solid var(--main-pink);
	display: inline-block;
	color: white;
	font-family: 'IBM Plex Sans';
	cursor: pointer;
	font-size: 17px;
	padding: 16px 31px;
}

.button:hover {
	background-color: var(--darker-pink);
}

.button:active {
	position: relative;
	top: 3px;
}

.used {
	color: gray;
	text-decoration: line-through;
	font-weight: 200;
}

.bad {
	border: 2px solid var(--main-blue);
}

.boxes {
	-webkit-appearance: none;
	color: white;
}

.pink-hr {
	border: 1px solid var(--main-pink);
	margin: 2vh -12.5vw;
}

.pink-hr-top {
	border: 1px solid var(--main-pink);
	margin: 2vh -6.25vw;
	margin-top: 15vh;
}

#choose {
	display: table;
	margin: 0 auto;
	border-radius: 28px;
	border: 5px solid var(--main-pink);
	background-color: var(--main-pink);
	padding: 5px;
}

#instruct {
	font-size: 18px;
}

#interact {
	border-radius: 28px;
	border: 5px solid var(--main-pink);
	padding: 30px 40px;
	font-size: 20px;
}

#possible-answers {
	text-align: center;
	font-size: 30px;
	font-weight: 400;
}

#points {
	font-size: 25px;
	font-weight: 800;
}

#go {
	background-color: var(--back-black);
	padding: 20px 20px;
}

#go:hover {
	background-color: var(--lighter-black);
}

#title-main {
	cursor: pointer;
	font-size: 30pt;
}

.pad {
	margin: 20px;
}

input {
	border: 2px solid var(--main-pink);
	background-color: var(--back-black);
	color: white;
	width: 20px;
	height: 30px;
	margin: 4px;
	padding-top: 5px;
	font-family: 'IBM Plex Sans';  
	font-size: 20px;
	text-align: center;
}

input:focus {
	border: 3px solid var(--darker-pink);
}

@keyframes bang {
	from {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

.testimonial-quote blockquote {
	background: none;
	font-size: 19px;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    z-index: 600;
}

.testimonial-quote blockquote * {
    box-sizing: border-box; 
}

.testimonial-quote blockquote p {
    line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: var(--darkest-pink);
    font-size: 7.5em;
    font-weight: 700;
    position: absolute;
    top: -.4em;
    left: -.2em;    
    z-index: -300;
}

.testimonial-quote cite {
    display: block;
    font-size: .8em; 
}
  
.testimonial-quote cite span {
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 4px solid var(--main-pink);
	/* width: 50%; */
  }